/*
    section태그 안에 div태그중에서 첫번째 div태그(X)
    section태그 안에 div태그이면서, section태그의 자식태그중 첫번째(O)
*/
section div:nth-child(2) {
    color:red;
}

/*
    section태그 안에 div태그이면서, section태그의 자식태그중 마지막
*/
section div:nth-last-child(1) {
    color:blue;
}

/*
    section태그 안에 div태그중에서 두번째 div태그(O)
*/
section div:nth-of-type(2) {
    color:yellow;
}

/*
    section태그 안에 div태그중에서 뒤에서 두번째 div태그
*/
section div:nth-last-of-type(2) {
    color:green;
}

